<h1 class="text-center mt-4"> Candidates List</h1>
<%= render 'paginate'%>

<div class="flickr_pagination">    
    <%= will_paginate @applicants, :container => false %>
</div>

<div class="container">
<% @applicants.each do |applicant| %>
    <div class="row justify-content-md-center ">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header ">
                    <h3 class="card-title"><%= link_to applicant.name, applicant_path(applicant), {:class=>"text-success"} %> </h3>
                </div>
                <div class="card-body">
                    <h6> email    : <%= company.email%></h6>
                    <h6> Jobs matched : n </h6>
                    <hr>
                    <%= link_to 'View Profile', applicant_path(applicant), {:class=>"btn btn-outline-success"} %>
                    <% if logged2_in? && ( applicant == current_user2 )%>
                        <%= link_to 'Edit Profile', edit_applicant_path(applicant), {:class=>"btn btn-outline-info"}%>
                    <% end%>
                </div> 
                <div class="card-footer text-muted">
                    <small> Account created <%=time_ago_in_words(applicant.created_at)%> ago, Edited <%=time_ago_in_words(applicant.updated_at)%> </small>
                </div>
            </div>
        </div>
    </div>
<% end %>
<div class="flickr_pagination mb-4">    
    <%= will_paginate @applicants, :container => false %>
</div>

<br>
<br/>
<br/>
</div>