<%=render 'paginate'%>
<div class="container">
    <div class="row">
        <% if logged_in?%>
            <h2 class="text-center mt-4">Your Profile</h2>
        <% else %>
            <h2 class="text-center mt-4"><%= @applicant.name %>'s Profile</h2>
        <% end%>
        <div class="col-4 text-center mt-4">
            <%= gravatar_for @applicant, size:200%>
        </div> 
        <div class="col-8 text-center">
            <div class="row justify-content-md-center ">
                <div class="col-11 mt-4">
                    <div class="card text-center shadow mb-5 bg-white rounded">
                        <div class="card-header ">
                            <h6> email    : <%= @applicant.email%></h6>
                        </div>
                        <div class="card-body">
                            Skills: 
                            <% if @applicant.skills.any? %>
                                &bull;
                                <% s=  Skill.where(id: @applicant.skills) %>
                                <% s.each do |skill| %>
                                    <%=skill.name %> &bull;
                                <%end%>
                            <%end%>
                        </div> 
                        <div class="card-footer text-muted">
                            <small> Account created <%=time_ago_in_words(@applicant.created_at)%> ago </small>
                        </div>
                    </div>
                </div>
            </div>
               
        </div>       
    </div>
</div>


<h3 class="text-center mt-4"> Jobs Matched : <%= @applicant.posts.count%> </h3>
<div class="container p-3">
    
    <table class="table table-bordered border-primary table-hover">
        <thead class="table-dark"> 
            <tr class="text-center">
            <th scope="col"> Company </th>
            <th scope="col"> Role </th>
            <th scope="col"> Description </th>
            <th scope="col"> Skills Required </th>
            <th scope="col"> % Matched </th>
            <th scope="col"> Actions </th>
            </tr>
        </thead>
        <% @applicant.posts.each do |post| %>
            <tr>
                <td > <%= Company.find(post.company_id).name %> </td> 
                <td> <%= post.name %>  </td>
                <td > <%= truncate(post.description, length: 15)%>...</td >
                <td >
                    <% if post.skills.any? %>
                        &bull;
                        <% s=  Skill.where(id: post.skills) %>
                        <% s.each do |skill| %>
                            <%=skill.name %> &bull;
                        <%end%>
                    <% else %>
                        <strong>No skills Mentioned </strong>
                    <% end %>
                </td>
                <td>
                    <div class="progress">
                        <% @count= Result.where( post_id: post, applicant_id: @applicant).first %>
                        <% req= post.skills.count %>
                        <% @matches = (@applicant.skills) & (post.skills) %>
                        <% match_count = @matches.count %>
                        <% match_count =  match_count-1%>
                        <div class="progress-bar" role="progressbar" style="width: <%= (match_count* 100)/(req -1) %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (match_count * 100)/(req -1) %>%</div>
                    </div>
                    <div class="text-center"><%= match_count%> out of <%= req -1 %> matched</div>
                    </td>
                <td> 
                    <%= link_to 'View Post', post_path(post), {:class=>"btn btn-primary btn-sm mb-1"} %>
                    <% if logged2_in? && @applicant==current_user2 %>
                        <%= button_to "Message", new_conversation_path, params: {company_id: post.company_id }, method: :get, class:"btn btn-success btn-sm " %> </button>
                    <%end%>
                </td>
            </tr>
        <% end %>
        </tbody>
        </table>
</div>
<script>
  function func(){
    confirm("Are you sure?")
  }
</script>