<div id="page-content">
  <h3 class="text-center mt-4"> <%= @post.name %> Role </h3>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            by  <%= link_to @post.company.name.capitalize, company_path(@post.company) , {:class=>"text-info"}%> 
            <hr>
            <div class="card-text text-center">
                <strong> Description : </strong>
                <%= @post.description%>
            </div>
            <hr>
            <div class="mt-2">
              <strong > Skills : </strong>
              <% if @post.skills.any? %>
                &bull;
                <% s=  Skill.where(id: @post.skills) %>
                <% s.each do |skill| %>
                    <%=skill.name %> &bull;
                <%end%>           
              <% end %>
            </div> 
          </div>
          <div class="card-body">
            <% if logged_in? && ( @post.company == current_user )%>
              <%= link_to "Edit", edit_post_path(@post), class: "btn btn-outline-info" %>
              <%= button_to 'Delete', post_path(@post), { method: :delete, :class=>"btn btn-outline-danger"}%> 
            <%end%>
            <br>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(@post.created_at) %> ago, 
            edited <%= time_ago_in_words(@post.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 class="text-center mt-4"> Total Candidates selected : <%= @post.applicants.count%> </h3>
<div class="container p-3">
    
    <table class="table table-bordered border-primary table-hover">
        <thead class="table-dark"> 
            <tr>
            <th scope="col"> Name </th>
            <th scope="col"> email </th>
            <th scope="col"> Skills </th>
            <th scope="col"> Percentage Matched </th>
            <th scope="col"> Actions </th>
            </tr>
        </thead>
        <tbody>
            <% @post.applicants.each do |applicant| %>
                <tr>
                    <td > <%= applicant.name %> </th>
                    <td > <%= applicant.email %>...</th>
                    <td >
                        <% if applicant.skills.any? %>
                            &bull;
                            <% applicant.skills.each do |skill| %>
                                <% if skill != "" %>
                                    <%= Skill.find(skill).name %> &bull;
                                <%end%>
                            <% end%>
                        <% else %>
                            <strong>No skills Mentioned </strong>
                        <% end %>
                    </td>
                    <td>
                      <div class="progress">
                            <% @count= Result.where( post_id: @post, applicant_id: applicant).first %>
                            <% req= @post.skills.count%>
                            <div class="progress-bar" role="progressbar" style="width: <%= (@count.matches * 100)/(req -1) %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= (@count.matches * 100)/(req -1) %>%</div>
                        </div>
                        <div class="text-center"><%= @count.matches  %> out of <%= req -1 %> matched</div>
                      </div>
                    </td>
                    <td> 
                        <%= link_to 'Show Profile', applicant_path(applicant), {:class=>"btn btn-success btn-sm"} %>
                        <% if logged_in? && ( @post.company == current_user ) %>
                            <button class="btn btn-primary btn-sm"> Message </button>
                        <%end%>
                    </td>
                </tr>
            <% end %>
        </tbody>
        </table>
</div>
