<div id="page-content">
  <h2 class="text-center mt-4"> <strong>Role: </strong> <%= @post.name %></h2>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            by  <%= link_to @post.company.name, company_path(@post.company) , {:class=>"text-info"}%> 
            <hr>
            <h5>
              <div class="card-text text-center">
                <strong> Description : </strong>
                <%= @post.description%>
              </div>
            </h5>
            <div class="mt-2">
              <strong > Skills : </strong>
              <% if @post.skills.any? %>
                &bull;
                <% @post.skills.each do |skill| %>
                    <% if skill != "" %>
                        <%= Skill.find(skill).name %> &bull;
                    <%end%>
                <% end%>              
              <% end %>
            </div> 
          </div>
          <div class="card-body">
            <% if logged_in? && ( @post.company == current_user )%>
              <%= link_to "Edit", edit_post_path(@post), class: "btn btn-outline-info" %>
              <%= button_to 'Delete', post_path(@post), { method: :delete, :class=>"btn btn-outline-danger"}%> 
            <%end%>
            <br>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(@post.created_at) %> ago, 
            edited <%= time_ago_in_words(@post.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 class="text-center mt-4"> Total Candidates selected </h3>
<div class="container">
